.slick-next-2 {
  display: block;
  position: relative;

}

.slick-next-2::before {
  content: '';
  position : absolute;
  top: -50%;
  width: 3rem;
  height: 3px;
  transform: rotate(45deg);
  background-color: rgba(0,0,0,0.8);
  transition: all 0.2s;
}
.slick-next-2::after {
  content: '';
  top: 50%;
  position : absolute;
  width: 3rem;
  height: 3px;
  transform: rotate(-45deg);
  background-color: rgba(0,0,0,0.8);
  transition: all 0.2s;
}
.slick-next-2:hover::before {
  top: -40%;
  transform: rotate(35deg);
}
.slick-next-2:hover::after {
  top: 40%;
  transform: rotate(-35deg);
}