.title-overwritten {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 5;
    font-weight: 600;
    line-height: 1.45em;
    font-size: 1.0625rem;
    font-family: inherit;
}

.card-image-overwritten::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    display: block;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;

    &:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}

