.clear.clear.clear:after {
	content: '';
	background: rgb(0, 0, 0, 0);
}

.goldenYellow.goldenYellow {
	color: #ffdf00 !important;
}

.zoomIn {
	transform: scale(1.05);
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}

.zoomOut {
	transform: scale(1);
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
