/* .bg-purple {
	background-color: #613dc1;
} */

.bg-indigo {
	background-color: #5603ad;
}

.bg-blue-gradient {
	background: linear-gradient(40deg, #4568dc, #b06ab3);
}

.bg-purple-gradient {
	background: linear-gradient(40deg, #ff6ec4, #7873f5);
}

.bg-dark-navy {
	background-color: #1f2251;
}

.has-success:after,
.has-danger:after {
	top: calc(50% - 7px);
}

.editable:hover {
	cursor: pointer;
}

.font-1-6.font-1-6.font-1-6.font-1-6 {
	font-size: 1.6rem !important;
}
