.slick-list.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-slide {
	margin: 0 0.5rem;
}

@media screen and (max-width: 576px) {
	.slick-slider {
		margin-top: 0px;
	}
}

.bg-indigo {
	background-color: #5603ad;
}

.bg-blue-gradient {
	background: linear-gradient(40deg, #4568dc, #b06ab3);
}
/* https://digitalsynopsis.com/design/beautiful-color-ui-gradients-backgrounds/ */

.bg-purple-gradient {
	background: linear-gradient(40deg, #ff6ec4, #7873f5);
}

.bg-purple-gradient-2 {
	background: linear-gradient(to right bottom, #667eea, #764ba2);
}

.bg-dark-navy-gradient {
	background: linear-gradient(40deg, #1f2251, #262a65, #2e3379);
}

.bg-deep-blue {
	background: linear-gradient(40deg, #e0c3fc, #8ec5fc);
}
/* https://webgradients.com/ */

.has-success:after,
.has-danger:after {
	top: calc(50% - 7px);
}

.editable:hover {
	cursor: pointer;
}

.font-1-6.font-1-6.font-1-6.font-1-6 {
	font-size: 1.6rem !important;
}

/* missing bootstrap class */

.row-cols-1 > * {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.row-cols-2 > * {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.row-cols-3 > * {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.row-cols-4 > * {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.row-cols-5 > * {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}

.row-cols-6 > * {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.row-cols-7 > * {
	-ms-flex: 0 0 14.285714%;
	flex: 0 0 14.285714%;
	max-width: 14.285714%;
}

.row-cols-8 > * {
	-ms-flex: 0 0 12.5%;
	flex: 0 0 12.5%;
	max-width: 12.5%;
}

.row-cols-9 > * {
	-ms-flex: 0 0 11.111111%;
	flex: 0 0 11.111111%;
	max-width: 11.111111%;
}

.row-cols-10 > * {
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
	max-width: 10%;
}

.row-cols-11 > * {
	-ms-flex: 0 0 9.090909%;
	flex: 0 0 9.090909%;
	max-width: 9.090909%;
}

.row-cols-12 > * {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

@media (min-width: 576px) {
	.row-cols-sm-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-sm-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.row-cols-sm-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.row-cols-sm-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.row-cols-sm-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.row-cols-sm-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.row-cols-sm-7 > * {
		-ms-flex: 0 0 14.285714%;
		flex: 0 0 14.285714%;
		max-width: 14.285714%;
	}
	.row-cols-sm-8 > * {
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
	.row-cols-sm-9 > * {
		-ms-flex: 0 0 11.111111%;
		flex: 0 0 11.111111%;
		max-width: 11.111111%;
	}
	.row-cols-sm-10 > * {
		-ms-flex: 0 0 10%;
		flex: 0 0 10%;
		max-width: 10%;
	}
	.row-cols-sm-11 > * {
		-ms-flex: 0 0 9.090909%;
		flex: 0 0 9.090909%;
		max-width: 9.090909%;
	}
	.row-cols-sm-12 > * {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}

@media (min-width: 768px) {
	.row-cols-md-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-md-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.row-cols-md-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.row-cols-md-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.row-cols-md-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.row-cols-md-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.row-cols-md-7 > * {
		-ms-flex: 0 0 14.285714%;
		flex: 0 0 14.285714%;
		max-width: 14.285714%;
	}
	.row-cols-md-8 > * {
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
	.row-cols-md-9 > * {
		-ms-flex: 0 0 11.111111%;
		flex: 0 0 11.111111%;
		max-width: 11.111111%;
	}
	.row-cols-md-10 > * {
		-ms-flex: 0 0 10%;
		flex: 0 0 10%;
		max-width: 10%;
	}
	.row-cols-md-11 > * {
		-ms-flex: 0 0 9.090909%;
		flex: 0 0 9.090909%;
		max-width: 9.090909%;
	}
	.row-cols-md-12 > * {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}

@media (min-width: 992px) {
	.row-cols-lg-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-lg-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.row-cols-lg-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.row-cols-lg-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.row-cols-lg-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.row-cols-lg-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.row-cols-lg-7 > * {
		-ms-flex: 0 0 14.285714%;
		flex: 0 0 14.285714%;
		max-width: 14.285714%;
	}
	.row-cols-lg-8 > * {
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
	.row-cols-lg-9 > * {
		-ms-flex: 0 0 11.111111%;
		flex: 0 0 11.111111%;
		max-width: 11.111111%;
	}
	.row-cols-lg-10 > * {
		-ms-flex: 0 0 10%;
		flex: 0 0 10%;
		max-width: 10%;
	}
	.row-cols-lg-11 > * {
		-ms-flex: 0 0 9.090909%;
		flex: 0 0 9.090909%;
		max-width: 9.090909%;
	}
	.row-cols-lg-12 > * {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}

@media (min-width: 1200px) {
	.row-cols-xl-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-xl-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.row-cols-xl-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.row-cols-xl-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.row-cols-xl-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.row-cols-xl-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.row-cols-xl-7 > * {
		-ms-flex: 0 0 14.285714%;
		flex: 0 0 14.285714%;
		max-width: 14.285714%;
	}
	.row-cols-xl-8 > * {
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
	.row-cols-xl-9 > * {
		-ms-flex: 0 0 11.111111%;
		flex: 0 0 11.111111%;
		max-width: 11.111111%;
	}
	.row-cols-xl-10 > * {
		-ms-flex: 0 0 10%;
		flex: 0 0 10%;
		max-width: 10%;
	}
	.row-cols-xl-11 > * {
		-ms-flex: 0 0 9.090909%;
		flex: 0 0 9.090909%;
		max-width: 9.090909%;
	}
	.row-cols-xl-12 > * {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}
