/* .bg-purple {
	background-color: #613dc1;
} */

.bg-indigo {
	background-color: #5603ad;
}

.bg-blue-gradient {
	background: linear-gradient(40deg, #4568dc, #b06ab3);
}
/* https://digitalsynopsis.com/design/beautiful-color-ui-gradients-backgrounds/ */

.bg-purple-gradient {
	background: linear-gradient(40deg, #ff6ec4, #7873f5);
}

.bg-dark-navy-gradient {
	background: linear-gradient(40deg, #1f2251, #262a65, #2e3379);
}
/* #070813,#0F1028,#17193C,#1F2251,#262A65,#2E3379,#363B8E */

.bg-lying-shepherd {
	background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
}
/* https://www.eggradients.com/category/natural-gradient */

.has-success:after,
.has-danger:after {
	top: calc(50% - 7px);
}

.editable:hover {
	cursor: pointer;
}

.font-1-6.font-1-6.font-1-6.font-1-6 {
	font-size: 1.6rem !important;
}
