.imgWrapper {
  width: 64px;
  height: 64px;
  border: 1px solid red
}

.gridContainer {
  width: 350px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 64px);
  grid-template-rows: repeat(5, 64px);
  gap: 5px;
}

.grid-item-1 {
  grid-column: 0 / 1;
  grid-row: 0 / 1;
}

.grid-item-2 {
  grid-column: 1 / 2;
  grid-row: 0 / 1;
}

.grid-item-3 {
  grid-column: 2 / 3;
  grid-row: 0 / 1;
}

.grid-item-4 {
  grid-column: 3 / 4;
  grid-row: 0 / 1;
}

.grid-item-5 {
  grid-column: 4 / 5;
  grid-row: 0 / 1;
}

.grid-item-6 {
  grid-column: 0 / 1;
  grid-row: 1 / 2;
}

.grid-item-7 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-item-8 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-item-9 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.grid-item-10 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.grid-item-11 {
  grid-column: 0 / 1;
  grid-row: 2 / 3;
}

.grid-item-12 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-item-13 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-item-14 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.grid-item-15 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.grid-item-16 {
  grid-column: 0 / 1;
  grid-row: 3 / 4;
}

.grid-item-17 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.grid-item-18 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.grid-item-19 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.grid-item-20 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}